.card {
  position: relative;
  &__img {
    border-radius: 10px;
    max-width: 100%;
    //position: relative;
    display: block;
    margin-bottom: 1rem;
  }
  &__description {
    bottom: 3rem;
    color: #fff;
    position: absolute;
    font-size: 1.2rem;
  }

  &__author {
    bottom: 1rem;
    font-size: 0.9rem;
    color: #fff;
    position: absolute;
    font-weight: normal;
  }
}
