.header {
  &__title {
    display: none;
  }
  &__btn {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    height: 4rem;
    text-align: center;
    width: 100%;
  }
}
